*{
    font-family: 'DM Sans', sans-serif;
}

.container-fluid{
    background-color: white;
    
}
.container-fluid ul li{
    color: red;
}

.custom-background {
    height: 70vh;
    position: relative;
    background-image: url('images/pexels-julia-m-cameron-6994944.jpg');
    background-size: cover;
    
}

.custom-background::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 209, 209, 0.704); 
}
#logo{
    max-width: 300px;
    margin-right: 5px;
    
}
#logo,
h1,
.btn,
a

{
    z-index: 10; 
}


.nav-link-donate,
.nav-link-help{
    color:#C7166F;
}
h1{
    padding-top: 50px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: 500 ;
}

.navbar {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.about-us{
    text-align: center;
    padding: 30px;
    
    background-color: rgba(255, 255, 255, 0.863);
}

.home-aboutus{
    height: 20vh;
    background-color: rgba(247, 241, 244, 0.413);
    
}

.home-aboutus h2{
    margin-top: 40px;
    font-weight: 300;
    font-size: 50px;
    
}

.home-angels{
    background-color: black;
    
}
.about-us p{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.btn{
    margin-top: 20px;
    color: white;
    background-color: #000000;
    border-color: #ed0076;
    font-weight: 500;
    
}

.btn::after,
.btn:hover{
    color: white;
    background-color: #000000;
    border-color: #000000;
}
.photos {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

.photos img {
    width: 350px;
    margin: 5px;
}



/*  Angels   */

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Adjust the gap between images */
  }
  
.angels{
    background: #efeaea;
    text-align: center;
    padding: 30px;
    

}

.angelimg{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 4%;
}

.reviews{
    text-align: center;
}

.donate{
    margin-top: 0px;
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
}

h2::after {
    content: "";
    display: block;
    width: 50vw;
    height: 2px;
    background-color: #C7166F;
    margin: 10px auto; 
}

.contact{
    text-align: center;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.626);
    padding-top: 20px;

}
.abtus {
  height: 40vh;
}

.contact h2, .home-aboutus h2{
    font-weight: 300;
}
.contact a{
    text-decoration: none;
    color: black;
    
}

.carousel{
   max-width: 70%;
   max-height: 50%;
   padding: 10px;
   margin-bottom: 10px;
}


/* Add this CSS to your stylesheet */
.carousel-inner img {
    max-width: 100%; /* Control the width of the images */
    height: auto;    /* Maintain the aspect ratio */
}

/*Footer*/

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #C7166F;
    height: 40vh;
    width: 100vw;
    
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    z-index: 1000;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(0, 0, 0);
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom socials {
   align-items: center; 
    
}